// GENERAL STYLES
html{
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
    font-size: 2rem;
    font-weight: 400;
}

.wrapper{
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;

    @include landscape-tablet{
        width: 90%;
    }
}

/* Ensure image default styles in main section is fixed */
img {
    max-width: 100%;
    height: auto;
}

body{
    @include flexCenter;
    flex-direction: column;
    background-color: rgb(2, 2, 27);
    padding-bottom: 15px;
}

section{
    width: 100%;
}

//input visibility hidden
.visuallyHidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}