h1{
    font-family: 'Calistoga', cursive;
    font-size: 8rem;
    color: #c6e2ff;
    animation: neon .08s ease-in-out infinite alternate;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
    letter-spacing: 1.15rem;
}

span {
    font-size: 10rem;
}

header{
    width: 725px;
}


@keyframes neon {
    from {
      text-shadow:
      0 0 6px rgba(202,228,225,0.92),
      0 0 30px rgba(202,228,225,0.34),
      0 0 12px rgba(30,132,242,0.52),
      0 0 21px rgba(30,132,242,0.92),
      0 0 34px rgba(30,132,242,0.78),
      0 0 54px rgba(30,132,242,0.92);
    }
    to {
      text-shadow:
      0 0 6px rgba(202,228,225,0.98),
      0 0 30px rgba(202,228,225,0.42),
      0 0 12px rgba(30,132,242,0.58),
      0 0 22px rgba(30,132,242,0.84),
      0 0 38px rgba(30,132,242,0.88),
      0 0 60px rgba(30,132,242,1);
    }
  }

.buttons {
    display: flex;
    justify-content: space-evenly;
    button{
        cursor: pointer; 
        font-size: 2rem;
        width: 150px;
        background: rgb(255, 174, 0);
        padding: 2px;
        border-color: rgba(255, 174, 0, 0.85);
        border-radius: 5px;
        font-family: 'Coda', cursive;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
        color: rgb(23, 36, 44);
        transition: 0.4s;

        &:hover,
        &:focus{
            background: rgb(253, 196, 73);
            border-color: rgba(253, 196, 73, 0.85);
        }
    }
}
