// variables

    // font + background colours
    $primaryBlack: #0F0F0F;
    $primaryPine: #2B331B;
    $primaryAccent: #FFD300;
    $almostBlack: #171B0E;

// mixins

    // vertical + horizontal centering w/ flexbox
    @mixin flexCenter() {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    //flexbox grid four squares
    @mixin flexGrid(){
        display: flex;
        flex-wrap: wrap;
    }

    //border mixin

    @mixin borderBottom($sizeValue){
        border-bottom: $sizeValue solid $primaryAccent;
    }

    @mixin border($sizeValue){
        border: $sizeValue solid $primaryAccent;
    }

    //background header mxin

    @mixin background($height){
        background-repeat: no-repeat;
        background-size: cover;
        height: $height;
    }

//Responsive mixins

@mixin small-desktop{
    @media (max-width: 1350px){
        @content;
    }
}

@mixin landscape-tablet{
    @media(max-width: 1100px){
        @content;
    }
}

@mixin tablet{
    @media (max-width: 950px){
        @content;
    }
}

@mixin small-tablet{
    @media (max-width: 840px){
        @content;
    }
}

@mixin mobile{
    @media (max-width: 500px){
        @content;
    }
}