@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 62.5%; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 2rem;
  font-weight: 400; }
  @media (max-width: 575px) {
    * {
      font-size: 1.5rem; } }
  @media (max-width: 500px) {
    * {
      font-size: 1.25rem; } }

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #02021b;
  padding-bottom: 15px; }

section {
  width: 100%; }

main {
  width: 735px;
  background: #41a456;
  color: #17242c;
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px; }
  @media (max-width: 765px) {
    main {
      width: 568px; } }
  @media (max-width: 575px) {
    main {
      width: 476px; } }
  @media (max-width: 500px) {
    main {
      width: 316px;
      padding: 5px; } }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

h1 {
  font-family: 'Calistoga', cursive;
  font-size: 8rem;
  color: #c6e2ff;
  -webkit-animation: neon 0.8s infinite ease-in-out alternate;
  animation: neon 0.8s infinite ease-in-out alternate;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  letter-spacing: 1.15rem;
  text-rendering: optimizeLegibility; }
  @media (max-width: 765px) {
    h1 {
      font-size: 6rem; } }
  @media (max-width: 575px) {
    h1 {
      letter-spacing: initial; } }
  @media (max-width: 500px) {
    h1 {
      font-size: 4rem; } }
  h1::after {
    content: " ♠";
    font-size: 10rem; }
    @media (max-width: 765px) {
      h1::after {
        font-size: 8rem; } }
    @media (max-width: 500px) {
      h1::after {
        font-size: 5rem; } }

header {
  width: 735px; }
  @media (max-width: 765px) {
    header {
      width: 568px; } }
  @media (max-width: 575px) {
    header {
      width: 476px; } }
  @media (max-width: 500px) {
    header {
      width: 316px; } }

@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92); }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2; } }

@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92); }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2; } }

.banner {
  font-family: 'Coda', cursive;
  font-size: 3rem;
  margin: 0;
  width: 735px;
  padding-left: 10px;
  padding-bottom: 2.5px;
  padding-top: 2.5px;
  border: 2px solid white;
  border-radius: 5px;
  color: white; }
  .banner::before {
    content: "> "; }
  @media (max-width: 765px) {
    .banner {
      width: 568px; } }
  @media (max-width: 575px) {
    .banner {
      width: 476px;
      font-size: 2.75rem; } }
  @media (max-width: 500px) {
    .banner {
      width: 316px;
      font-size: 2.55rem; } }

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }
  .buttons button {
    cursor: pointer;
    font-size: 2rem;
    width: 150px;
    background: #ffae00;
    padding: 2px;
    border-color: rgba(255, 174, 0, 0.85);
    border-radius: 5px;
    font-family: 'Coda', cursive;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: #17242c;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; }
    @media (max-width: 575px) {
      .buttons button {
        font-size: 1.5rem;
        width: 120px;
        margin-top: 2px; } }
    @media (max-width: 500px) {
      .buttons button {
        font-size: 1.5rem;
        width: 70px; } }
    .buttons button:hover, .buttons button:focus {
      background: #fdc449;
      border-color: rgba(253, 196, 73, 0.85); }

.sub-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 765px) {
    .sub-title {
      padding-top: 5px; } }

.name {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }
  @media (max-width: 575px) {
    .name {
      font-size: 1.5rem; } }

.display-money {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  -ms-flex-item-align: center;
  align-self: center; }
  .display-money h2 {
    margin-right: 10px;
    font-size: 2rem; }
    @media (max-width: 575px) {
      .display-money h2 {
        font-size: 1.5rem; } }
    @media (max-width: 500px) {
      .display-money h2 {
        font-size: 1.25rem; } }

.hand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .hand .clicked {
    color: black;
    background: white; }
    .hand .clicked span {
      color: red; }

.hand > div:first-of-type {
  color: black;
  background: white;
  cursor: default; }
  .hand > div:first-of-type span {
    color: red; }

.hand > div:nth-of-type(6) {
  margin-right: 0; }
  @media (max-width: 575px) {
    .hand > div:nth-of-type(6) {
      margin-right: 10px; } }
  @media (max-width: 500px) {
    .hand > div:nth-of-type(6) {
      margin-right: 5px; } }

.hand > div {
  cursor: pointer;
  margin-right: 10px;
  border: 2px solid black;
  width: 110px;
  height: 152px;
  background-image: url(../assets/card.png);
  background-size: cover;
  color: transparent;
  border-radius: 5px;
  font-family: 'Noto Sans', sans-serif;
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
  text-align: center; }
  @media (max-width: 765px) {
    .hand > div {
      width: 82px;
      height: 114px;
      margin-top: 5px; } }
  @media (max-width: 500px) {
    .hand > div {
      width: 56px;
      height: 77px;
      margin-right: 5px; } }
  @media (max-width: 575px) {
    .hand > div:nth-of-type(5) {
      margin-right: 0; } }
  .hand > div p {
    font-size: 2.5rem;
    margin: 0;
    padding-top: 10px;
    text-align: center; }
    @media (max-width: 765px) {
      .hand > div p {
        padding-top: 5px; } }
    @media (max-width: 500px) {
      .hand > div p {
        font-size: 1.75rem; } }
  .hand > div h2 {
    text-align: center;
    font-size: 7.5rem;
    margin: 0; }
    @media (max-width: 765px) {
      .hand > div h2 {
        font-size: 6rem; } }
    @media (max-width: 500px) {
      .hand > div h2 {
        font-size: 4rem; } }
    .hand > div h2 span {
      text-align: center;
      font-size: 7.5rem;
      margin: 0;
      color: transparent; }
      @media (max-width: 765px) {
        .hand > div h2 span {
          font-size: 6rem; } }
      @media (max-width: 500px) {
        .hand > div h2 span {
          font-size: 4rem; } }
  .hand > div span {
    font-size: 3rem;
    color: transparent; }
    @media (max-width: 500px) {
      .hand > div span {
        font-size: 1.75rem;
        word-spacing: 10px; } }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 10px; }
  @media (max-width: 575px) {
    .container {
      padding: 0 5px; } }
